@media (min-width: 910px) and (min-height: 910px) {
  .all-wrapper {
    pointer-events: none;
  }
  
  .background-black {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 9999px;
    z-index: 100;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #E6CC00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  
  .loading-alert:after {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '조금만 기다려주세요...';
    font-family: 'Stylish';
    font-size: 20px;
    font-weight: 550;
    letter-spacing: -0.01em;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
    color: #fff;
    z-index: 100;
  }
  
  .progress {
    position: fixed;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Stylish';
    font-size: 20px;
    font-weight: 550;
    letter-spacing: -0.01em;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
    color: #fff;
    z-index: 100;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}